
.controls {
  @include overlay;

  right: 15px;
  bottom: 15px;

  form {
    display: none;

    margin-bottom: 10px;

    hr {
      margin: 10px 0;
      border: 1px solid WhiteSmoke;
    }
  }

  &:hover {
    width: 250px;
    opacity: 1;

    form {
      display: block;
    }

    footer {
      width: 100%;
    }
  }
}

.closed-controls {
  width: 250px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.hud {
  flex: 1;

  span {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.step-controls {
  margin-right: 20px;

  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

  img {
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }

    &.button-disabled {
      cursor: default;
      opacity: 0.3;

      &:hover {
        opacity: 0.3;
      }
    }
  }
}

.step-rate {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.status-colors {
  margin-bottom: 20px;
}

.rule-status-section {
  margin-bottom: 10px;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.rule-controls {
  width: 110px;

  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
