@import 'reset.scss';

html, body {
  margin: 0;
  border: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font-family: Monaco, monospace;
  font-size: 12px;

  &, canvas {
    overflow: hidden;
  }

  a {
    color: Blue;

    &:hover {
      text-decoration: underline;
    }
  }
}

@mixin overlay {
  position: fixed;

  padding: 15px 20px;
  border: 1px solid WhiteSmoke;

  background-color: White;
  opacity: 0.8;

  cursor: default;
}

button {
  border: 1px solid Black;
  padding: 3px 5px;

  &:hover {
    background-color: Gray;
    color: White;

    &:active {
      background-color: Black;
    }
  }

}

input[type="text"] {
  width: 60px;

  padding: 1px 5px;
  border: 1px solid Gray;

  &:active, &:focus {
    border: 1px solid Black;
  }
}

.mouseover-hide {
  @include overlay;
  left: 15px;
  bottom: 15px;

  padding: 10px;

  &:hover + main {
    display: none;
  }

  &:hover {
    cursor: none;
    opacity: 0;
  }
}

@import 'info.scss';
@import 'controls.scss';
