.info {
  @include overlay;
  left: 15px;
  top: 15px;

  h1 {
    font-size: 16px;

    a {
      color: black;
    }
  }

  article {
    margin-top: 10px;
    display: none;

    span {
      background-color: WhiteSmoke;
      font-style: italic;
    }
  }

  &:hover {
    width: 320px;
    opacity: 1;

    article {
      display: block;
    }
  }
}
